.tabela{
    text-align: center;
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.title{
    text-align: left;
}

.priceOne{
    background-color:  #7ebff2;
    color: #ffff;
    font-size: 25px;
    font-weight: bold

}
.priceTwo{
    background-color:  #4a87ec;
    color: #ffff;
    font-size: 25px;
    font-weight: bold

}

.priceThree{
    background-color:  #7073ec;
    color: #ffff;
    font-size: 25px;
    font-weight: bold

}

td, th{
    padding: 12px;
    border: 1px solid rgba(207, 205, 205, 0.921);
}

button{
    border: none;
    color: #ffff;
    padding: 10px;
    cursor: pointer;
    width: 150px;
    height: 40px;

}
.button-basic{
    background-color:  #7ebff2;
}

.button-pattern{
    background-color:  #4a87ec;

}

.button-advanced{
    background-color:  #7073ec;

}